@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  overflow-x:hidden ;

}
::-webkit-scrollbar{
  background-color: #7e3535;
  width: 0;
}
.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}
.click{
  z-index: 1500 ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.click1{
  z-index: 1400;
  position: fixed;
  top:55px;
  left: 0;
  right: 0;
}









